{% extends 'base.html' %}
{% block content %}
This is the main page for rooms - listing all rooms 
 

<h2> Add Room </h2>
<form action="/rooms" method = "POST">
    <div>
        <input type="text" id = "name" name = "name" placeholder="Room Name">
        <input type="number" id = "capacity" name = "capacity" placeholder = "Room Capacity">
        <input type="submit">

    </div>

</form>

{% for room in rooms %}
<main id = 'room_list'>
    <h3> Name: {{room.name}} </h3>
    <p> Capacity: {{room.capacity}} </p>   
    <form action="/rooms/{{room.id}}/delete" method="POST">
        <input type="submit" value = "❌">
    </form>

</main>
{% endfor %}

{% endblock %}
