{% extends 'base.html' %}
{% block content %}
    
 
<section class="add_form" >
    <h2> Add Room </h2>
    <form action="/rooms" method = "POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" id = "name" name = "name" placeholder="Room Name">
            <label for="capacity">Capacity:</label>
            <input type="number" id = "capacity" name = "capacity" placeholder = "Room Capacity">
            <input type="submit" value="Add Room">
        </div>
    </form>
</section>

<main >
    {% for room in rooms %}
    <div class = 'list_items'>
        <div class = 'list'>
        <h2> Name: {{room.name}} </h2>
        <p> Capacity: {{room.capacity}} </p>  
        <p>Available Space: {{room.capacity - room.num_guests}}</p> 
            <div class="mini_menu">
                <form action="/rooms/{{room.id}}/delete" method="POST">
                    <input type="submit" value = "❌" class="buttons">
                </form>
                <a href="/rooms/{{room.id}}/edit" class="buttons">Edit</a>
                <a href="/rooms/{{room.id}}/guests" class="buttons">Guests</a>
            </div>
        </div> 
    </div>
    {% endfor %}
</main>

{% endblock %}
