{% extends 'base.html' %}
{% block content %}
<main class="add_form">
    <h2> Edit Guest </h2>
    <form action="/guests/{{guest.id}}" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="{{guest.name}}" autofocus>
        <label for="type">Class:</label>
        <input type="text" name="type" id="type" value="{{guest.type}}">
        <label for="race">Race:</label>
        <input type="text" name="race" id="race" value="{{guest.race}}">
        <label for="room_id">Room:</label>
        <select name="room_id" id="room_id" >
            {% for room in rooms %}
            <option value="{{room.id}}"> {{room.name}} </option>
            {% endfor %}
        </select>
        <input type="submit" value="Update">
    </form>
</main>
{% endblock %}