{% extends 'base.html' %}
{% block content %}

<section>
    <h2>Add Guest</h2>
    <form action="/guests" method = "POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder="Guest Name">
        <label for="type"> Class:</label>
        <input type="text" name="type" id="type" placeholder="Guest Class">
        <label for="race">Race:</label>
        <input type="text" name="race" id="race" placeholder="Guest Race">
        <label for="room_id">Room:</label>
        <select name="room_id" id="room_id">
            <option value=""> --Please Select-- </option>
            {% for room in rooms %}
            <option value="{{room.id}}"> {{room.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Check In Guest">
    </form>
</section>
<main id = "guest_list">
    {% for guest in guests %}
    <h4> Name: {{guest.name}} </h4>
    <p> Room: {{guest.room.name}} </p>
    <form action="/guests/{{guest.id}}/delete" method = POST>
        <input type="submit" value="❌">
    </form>
    <a href="/guests/{{guest.id}}/edit"> Edit </a>
    <a href="/guests/{{guest.id}}/details"> Details </a>
</main>

{% endfor %}
{% endblock %}