{% extends 'base.html' %}
{% block content %}
<header  class="add_form">
    <h2>Weapon Overview</h2>
</header>

<main>
    {% for weapon in weapons if weapon %}
    <div class="list" >
        <h3>Name: {{weapon.name}}</h3>
        <p>Type: {{weapon.type}}</p>
        <p>Value: {{weapon.value}}gp</p>
        <a href="/weapons/{{weapon.id}}/details" class = "buttons"> Details </a>
        {% else %}
        <h3 class="list"> No Stored Weapons </h3>
    </div>
    {% endfor %}
</main>

{% endblock %}