{% extends 'base.html' %}
{% block content %}
<section class="add_form">
        <h3> Add Weapon </h3>
        <form action="/weapons" method="POST">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" placeholder="Weapon Name">
                <label for="damage">Damage:</label>
                <input type="number" name="damage" id="damage" placeholder="Weapon Damage">
                <label for="type"> Type: </label>
                <input type="text" name="type" id="type" placeholder="Weapon Type">
                <label for="magic">Magic Weapon?</label>
                <select name="magic" id="magic">
                        <option value="">--Please Select--</option>
                        <option value="TRUE">True</option>
                        <option value="FALSE">False</option>
                </select>
                <label for="value">Value:</label>
                <input type="number" name="value" id="value" placeholder="Value">
                <label for="owner_id">Owner:</label>
                <select name="owner_id" id="owner_id">
                        <option value="">--Please Select--</option>
                        {% for guest in guests %}
                        <option value="{{guest.id}}">{{guest.name}}</option>
                        {% endfor %}
                <input type="submit" value="Add Weapon">
                </select>
        </form>
</section>


{% for weapon in weapons %}
<main class="list">       
        <h3> Weapon Name: {{ weapon.name }} </h3> 
        <p> Owner: {{weapon.owner.name}}</p>
        <form action="/weapons/{{weapon.id}}/delete" method = "POST">
                <input type="submit" value = "❌">
        </form>
        <a href="/weapons/{{weapon.id}}/details"> Details </a>
        <a href="/weapons/{{weapon.id}}/edit"> Edit </a>
        
</main>

{% endfor %}
{% endblock %}