{% extends 'base.html' %}
{% block content %}

<section class="add_form">
        <h2> Add Weapon </h2>
        <form action="/weapons" method="POST">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" placeholder="Weapon Name">
                <label for="damage">Damage:</label>
                <input type="number" name="damage" id="damage" placeholder="Weapon Damage">
                <label for="type"> Type: </label>
                <input type="text" name="type" id="type" placeholder="Weapon Type">
                <label for="magic">Magic Weapon?</label>
                <select name="magic" id="magic">
                        <option value="">--Please Select--</option>
                        <option value="TRUE">True</option>
                        <option value="FALSE">False</option>
                </select>
                <label for="value">Value:</label>
                <input type="number" name="value" id="value" placeholder="Value">
                <label for="owner_id">Owner:</label>
                <select name="owner_id" id="owner_id">
                        <option value="">--Please Select--</option>
                        {% for guest in guests %}
                        <option value="{{guest.id}}">{{guest.name}}</option>
                        {% endfor %}
                <input type="submit" value="Add Weapon">
                </select>
        </form>
</section>
<header id="weapon_nav">
        <h1 id = "weapons_title">All Weapons - Overview</h1>
        <a href="/weapons/magic" id="specific_weapons"> Magic Weapons </a>
        <a href="/weapons/not_magic" id="specific_weapons">Non-Magic Weapons </a>
</header>


<main> 
        {% for weapon in weapons %}    
        <div class="list">
                <h2> Weapon Name: {{ weapon.name }} </h2> 
                <p> Owner: {{weapon.owner.name}}</p>
                <div class="mini_menu">
                        <form action="/weapons/{{weapon.id}}/delete" method = "POST">
                                <input type="submit" value = "❌" class="buttons">
                        </form>
                        <a href="/weapons/{{weapon.id}}/edit" class="buttons"> Edit </a>
                        <a href="/weapons/{{weapon.id}}/details" class = "buttons"> Details </a>
                </div>
        </div>
        {% endfor %}
</main>


{% endblock %}