{% extends 'base.html' %}
{% block content %}

<main>
    {% for weapon in weapons %}
    <div class = "list">
    <h2>Name: {{weapon.name}} </h2>
    <h4>Owner: {{weapon.owner.name}}</h4>
    <p> Damage: {{weapon.damage}} </p>
    <p>Type: {{weapon.type}} </p>
    <p> Magic? {{weapon.magic}} </p>
    <p>Value: {{weapon.value}}gp </p>
    <div class="mini_menu">
        <form action="/weapons/{{weapon.id}}/delete" method = "POST">
                <input type="submit" value = "❌" class="buttons">
        </form>
        <a href="/weapons/{{weapon.id}}/edit" class="buttons"> Edit </a>
        <a href="/weapons/{{weapon.id}}/details" class = "buttons"> Details </a>
    </div>
    </div>
    {% endfor %}
</main>



{% endblock %}