<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Tavern Tracker </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1 id="title"> Tavern Tracker </h1>
        <nav>
            <ul class = "menu"> 
                <li> <a href="/"> Home </a> </li>
                <li> <a href="/rooms"> Rooms </a></li>
                <li> <a href="/guests"> Guest List </a></li>
                <li> <a href="/weapons"> Weapon Storage </a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>