{% extends 'base.html' %}
{% block content %}
<section id="hpimages">
    <a href="/rooms" >
        <img src="https://static.thenounproject.com/png/17576-200.png" alt="Rooms" id="hprooms"> <h3> Rooms </h3>
    </a>
    <a href="/guests" >
        <img src="https://www.flaticon.com/svg/static/icons/svg/1706/1706500.svg" alt="Guests" id="hpguests"> <h3>Guests</h3>
    </a>
    <a href="/weapons" > 
        <img src="https://www.flaticon.com/svg/static/icons/svg/46/46039.svg" alt="Weapon Storage" id="hpweapons" > <h3>Weapon Storage</h3>
    </a>
</section>
{% endblock %}