{% extends 'base.html' %}
{% block content %}

<h1> Navigate to Rooms, Guests or Weapon Storage </h1>

<a href="/rooms" id="hprooms">
    <img src="https://www.pinclipart.com/picdir/big/113-1130894_dorms-hotel-room-icon-clipart.png" alt="Rooms">
</a>
<a href="/guests" id="hpguests">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPVhCKxuUIspulbp9gs99Y8mheMb0Skhrf7Q&usqp=CAU" alt="Guests">
</a>
<a href="/weapons" id="hpweapons"> 
    <img src="https://www.flaticon.com/svg/static/icons/svg/46/46039.svg" alt="Weapon Storage">
</a>
{% endblock %}