{% extends 'base.html' %}
{% block content %}

<h1> Navigate to Rooms, Guests or Weapon Storage </h1>

<a href="/rooms" id="hprooms">
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/69cd8d2f-6e60-4e9e-a198-46034223a33b/d6y2slp-0e77a8b7-3cf8-4ce2-94b9-400adb1e6c7d.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNjljZDhkMmYtNmU2MC00ZTllLWExOTgtNDYwMzQyMjNhMzNiXC9kNnkyc2xwLTBlNzdhOGI3LTNjZjgtNGNlMi05NGI5LTQwMGFkYjFlNmM3ZC5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.tgrlsxOW7bhE1BKulgFVnV0NwM6QkHsSR59-0QxguIM" alt="Rooms">
</a>
<a href="/guests" id="hpguests">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPVhCKxuUIspulbp9gs99Y8mheMb0Skhrf7Q&usqp=CAU" alt="Guests">
</a>
<a href="/weapons" id="hpweapons"> 
    <img src="https://www.flaticon.com/svg/static/icons/svg/46/46039.svg" alt="Weapon Storage">
</a>
{% endblock %}